<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

	<title>Practical Machine Learning</title>
	<meta name="viewport" content="width-device-width">
	<style>
		.header {
			background-color: #6fda44;
			padding: 20px;
			padding-bottom: 30px;
			text-align: center;
			font-size: 40px;
		}
		.footer-padding {
			display: flex;
			flex-wrap: wrap;
			align-content: center;
		}
	
	</style>
</head>
<body>
		<div class="header">
				<a class="navbar-brand" href="/" style="color: white;">
					<div style="color: white; font-size: 40px; text-decoration: underline;">
						Practical Machine Learning
					</div>
				</a>
				<a class="navbar-brand" href="/about-this-book" style="color: rgb(24, 23, 23);">
					<div style="color: rgb(52, 41, 41); font-size: 12px; float: right; text-decoration: underline;">
						About This Book
					</div>
				</a>
		</div>
		
		<div class="container">
			<!-- Load Page Content -->
			<div>
				{{ content }}
			</div>

			<!-- Footer -->
				<footer class="page-footer font-small blue">
					<div class="footer-padding">
						<a href="https://github.com/HAMZA310/hamza310.github.io"><i class="fab fa-github" style='font-size:20px'></i> Practical Machine Learning </a>
					</div>
					<div class="footer-padding" style="padding-bottom: 20px;">
						<a href="https://www.linkedin.com/in/hamza-liaqat-9429b1109/"><i class="fab fa-linkedin-in" style='font-size:20px'></i> Hamza </a>
					</div>
				</footer>
		</div>
</body>
</html>