<!DOCTYPE html>
<html>
<head>
	<title>Practical Machine Learning</title>
	<meta name="viewport" content="width-device-width">
	<style>
		.header {
			background-color: #6fda44;
			padding: 20px;
			padding-bottom: 30px;
			text-align: center;
			font-size: 40px;
		}
	</style>
</head>
<body>
		<div class="header">
				<a class="navbar-brand" href="/" style="color: white;">
					<div style="color: white; font-size: 40px;">
						Practical Machine Learning
					</div>
				</a>
		</div>
		
		<div class="container">
			<div>
				{{ content }}
			</div>
		</div>
</body>
</html>